* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    background-color: #F5F5F5;
    color: black;
    box-shadow: 0 0 8px 0px #6d6e70;
} */

.body{
    background-color: #fafafa;
    box-shadow: 0 0 8px 0px #6d6e70;
}

.container{
    --bs-gutter-x: 0;
}

header{
    background-color: darkcyan;
    color: aliceblue;
    height: auto;
    box-shadow: 0 0 6px 0px #6d6e70;
}
main{
    height: auto;
}

footer{
    background-color: darkcyan;
    color: aliceblue;
    height: auto;
    box-shadow: 0 0 8px 0px #6d6e70;
}

.separador {
    border-bottom: 5px solid #6d6e70;
    /* box-shadow: 0 0 8px 0px #ccc; */
}

.navbar{
    /* background-color: darkcyan !important; */
    color: #fafafa !important;
    font-style: normal !important;
    --bs-navbar-padding-y: 0;
    padding-left: 10px;
}

.navbar-toggler{
    margin-right: 10px;
}

.formulario{
    margin-left: 20px;
    margin-right: 20px;
}

.panel {
    background-color: #fafafa;    
    border: 1px solid #ccc;
    padding: 5px 10px 0px 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    margin-bottom: 0px;
}
ul{
    padding-right: 2rem;
    margin-bottom: 0;
} 

/* #pagination-container {
    display: flex;
    justify-content: center;
} */

/* .pagination .page-item.active .page-link {
    background-color: #007bff; 
    border-color: #007bff; 
    color: darkcyan; 
} */
