        <main>
            <div class="formulario">
                <h1>Crear Publicaciones</h1>
                <div class="panel">                    
                    <form action="/posts" id="post-form" method="post">
                        
                        <div class="mb-3 mt-1">
                            <label for="post-title" class="form-label">Título:</label>
                            <input type="text" name="titulo" class="form-control" placeholder="" required>
                        </div>

                        <div class="mb-3">
                            <label for="post-content" class="form-label">Contenido:</label>
                            <textarea class="form-control" name="contenido" id="" cols="30" rows="10"
                                required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="image-url" class="form-label">URL de la imagen:</label>
                            <input class="form-control" type="url" name="linkImg" id="">
                        </div>

                        <div class="text-center mb-3">
                            <button class="btn btn-primary text-center ">Publicar</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </main>