<main>
    <ul>
        <% listaDePosts.forEach((post)=> { %>         

        <div class="p-3 mt-2 mb-2 border rounded">
            <!-- Contenido del div -->
            <h2><%= post.titulo %></h2>
            <p><%= post.contenido %></p>
            <img src="<%= post.linkImg %>" class="img-fluid" alt="Imagen relacionada">            
            <p>Fecha de creación: <%= post.createdAt.toLocaleString('es-ES', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %>.</p>
        </div>

        <% }); %>
    </ul>
</main>