<main>
    <ul>
        <% listaDePosts.forEach((post)=> { %>

        <div class=" p-3 border rounded">
            <!-- Contenido del div -->
            <h2><%= post.titulo %></h2>
            <p><%= post.contenido %></p>
            <img src="<%= post.linkImg %>" class="img-fluid" alt="Imagen relacionada">
            <p>Fecha de creación: <%= post.createdAt %></p>

        </div>

        <% }); %>
    </ul>
</main>